.tox/
build/
dist/
doc/.build/
doc/.static/*_mini.png
upoints.egg-info/
test/data

*.html
*.py[co]
.git_version

ChangeLog
MANIFEST

# test data files that can't be distributed
test/data/alltrigs-wgs84.txt
test/data/cells.txt
test/data/cities.dat
test/data/earth-markers-schaumann
test/data/nsd_bbsss.txt
test/data/nsd_cccc.txt
