build/
dist/
doc/.build/
doc/.static/*_mini.png
upoints.egg-info/

*.html
*.py[co]
.coverage
.git_version
.noseids

ChangeLog
MANIFEST

# test data files that can't be distributed
tests/data/.gitignore
tests/data/alltrigs-wgs84.txt
tests/data/cells.txt
tests/data/cities.dat
tests/data/earth-markers-schaumann
tests/data/nsd_bbsss.txt
tests/data/nsd_cccc.txt
