build/
dist/
doc/.build/
doc/.static/*_mini.png
upoints.egg-info/

.coverage
.git_version
*.py[co]
*.html

ChangeLog
MANIFEST

# test data files
test/data/alltrigs-wgs84.txt
test/data/cells.txt
test/data/cities.dat
test/data/earth-markers-schaumann
test/data/nsd_bbsss.txt
test/data/nsd_cccc.txt
