include CONTRIBUTING.rst
include COPYING
include NEWS.rst
include README.rst
include edist.py
include extra/_edist
include extra/requirements*.txt
include nose2.cfg

recursive-include doc *.rst
include doc/conf.py
recursive-include doc/.static *.png

include tests/*.py

include tests/data/baken_data
include tests/data/broken_geonames
include tests/data/broken_ICAO_stations
include tests/data/broken_trigpoints
include tests/data/broken_WMO_stations
include tests/data/cells
include tests/data/city_data
include tests/data/geonames
include tests/data/geonames_timezones
include tests/data/geonames_timezones_broken
include tests/data/geonames_timezones_header
include tests/data/gpsbabel
include tests/data/gpsdata
include tests/data/gpx
include tests/data/gpx_routes
include tests/data/gpx_tracks
include tests/data/ICAO_stations
include tests/data/kml
include tests/data/no_valid_baken
include tests/data/osm
include tests/data/real_file
include tests/data/real_file.csv
include tests/data/real_file.xml
include tests/data/southern_trigpoints
include tests/data/timezones
include tests/data/trigpoints
include tests/data/WMO_stations
include tests/data/xearth
